name: Build and test Farol

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: gcc nob.c -o nob && ./nob
    - name: Test
      run: ./build/farol
